:root {
  /* Light Mode */
  --color-primary: #7987ac;
  --color-secondary: #a5b3cc;
  --color-background: #ffffff;
  --color-surface: #f6f7f9;
  --color-text-primary: #000000;
  --color-text-secondary: #7e8084;
  --color-divider: #d6d6d6;
  --color-success: #9fe2bf;
  --color-warning: #ffd166;
  --color-error: #ff6b6b;
}

.dark {
  /* Dark Mode */
  --color-primary: #7987ac;
  --color-secondary: #a5b3cc;
  --color-background: #121212;
  --color-surface: #1e1e1e;
  --color-text-primary: #eaeaea;
  --color-text-secondary: #ffffff;
  --color-divider: #505050;
  --color-success: #81c784;
  --color-warning: #ffab40;
  --color-error: #ff8a80;
}